<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p> <i>
        This site is a simple way to fetch a brief weather summary for any location you wish. <br>
        Just pop in a location and leave the rest to us. <br>
        The geocoding services are provided by mapbox and the weather details by darksky!
        </i>
    </p>
    <img src="./img/profile.jpg" alt="Profile" class="potrait">
    </div>
 
    
    {{>footer}}
    
</body>
</html>